<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.taemu.mpv_toggle_mute</string>
	<key>ProgramArguments</key>
	<array>
        <string>/usr/local/bin/mpv_toggle_mute</string>
	</array>
    <key>EnvironmentVariables</key>
    <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
    <key>StandardOutPath</key>
    <string>/Volumes/Ramdisk/tmp/mpv_toggle_mute.out</string>
    <key>StandardErrorPath</key>
    <string>/Volumes/Ramdisk/tmp/mpv_toggle_mute.err</string>
</dict>
</plist>
